@import "tailwindcss";
@import "./tokens.css";
@import "./keyframes.css";
@import "./theme.css";
@source "../../../../src/features";

@custom-variant dark (&:is(.dark *));

html,
body {
  background: transparent !important;
  height: 100%;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
